* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(242, 242, 242);
}

.cardList {
  margin-top: 1rem;
  margin-bottom: 1rem;
  .list-group {
    .list-group-item {
   
      a {
        text-decoration: none;
        color: rgb(60, 60, 60);
        font-size: 0.85rem;
        &:hover {
          color: rgb(0, 0, 157);
          #commentsList {
            color: rgb(68, 68, 68);
        }
      }
      #commentsList {
        font-size: 0.7rem;
        color: rgb(136, 136, 136);
       
      }
    }
  }
}