* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid black;
}
.box1 {
  margin-left: 10px;
}
.image-container{
 width:  15%;
}
.button_sign{
  border: 1px solid black;
  display:flex;
  justify-content: flex-start;

  background-color: red
}