body {
  background-color: #f5f6f7;

  font-family: var(--ff-sans-serif);
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #f5f6f7;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.header-right {
  display: flex;
  gap: 10px;
}

.header-edit-btn {
  font-size: 14px;
  color: #3b49df;
  background: none;
  border: 1px solid #3b49df;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
  border-radius: 4px;
}

.header-edit-btn:hover {
  background-color: #3b49df;
  color: #fff;
}

.main-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-start; /* Alinear elementos arriba */
  padding: 20px;
  margin: 0 auto; /* Ajustar márgenes para centrar en la página */
  max-width: 1200px; /* Opcional: Establecer un ancho máximo */
}

.post-creation {
  flex: 3;
  margin-right: 20px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd; /* Definir el borde */
  border-radius: 8px; /* Mantener las esquinas redondeadas */
  width: 50px; /* Ancho fijo */
  height: 500px; /* Alto fijo */
}

.cover-image-btn {
  background: #ffffff;
  border: 3px solid #ddd;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  display: table-cell;
  text-align: center;
  border-radius: 4px;
}

.post-title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.post-tags {
  width: 100%;
  font-size: 14px;
  color: #666;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.editor-toolbar {
  background-color: #f5f6f7;
  display: flex;
  gap: 38px;
  margin-bottom: 10px;
}

.toolbar-btn {
  background: #f5f6f7;
  border: 1px solid #f5f6f7;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.post-content {
  width: 94%;
  height: 200px;
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  font-size: 16px;

  border-radius: 4px;
}

.tips {
  flex: 1;
  background: #f5f6f7;
  padding: 20px;
  border-radius: 8px;
}

.tips h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.tips ul {
  list-style-type: none;
  padding: 0;
}

.tips ul li {
  margin-bottom: 10px;
}

.footer {
  flex-shrink: 0; /* Evitar que se reduzca */
  padding: 20px;
  background: #f5f6f7;
}

.footer button {
  background: #3b49df;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 99px;
  cursor: pointer;
  border-radius: 4px;
}

.save-draft-btn,
.revert-btn {
  background: #666;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 1 0 auto;
  width: auto;
  max-width: 100%;
}
