body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.header-edit-btn {
  font-size: 14px;
  color: #3b49df;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
}

.main-container {
  display: flex;
  padding: 20px;
}

.post-creation {
  flex: 3;
  margin-right: 20px;
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.cover-image-btn {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  display: table-cell;
  text-align: center;
  border-radius: 4px;
}

.post-title {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.post-tags {
  width: 100%;
  font-size: 14px;
  color: #666;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.editor-toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.toolbar-btn {
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.post-content {
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
}

.tips {
  flex: 1;
  background: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
}

.tips h2 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}

.tips ul {
  list-style-type: none;
  padding: 0;
}

.tips ul li {
  margin-bottom: 10px;
}

.footer {
  display: flex center;
  justify-content: flex-end;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.footer button {
  background: #3b49df;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.save-draft-btn,
.revert-btn {
  background: #666;
}
